{% extends "base.html" %}

{% block title %}
Add A Post | There's That Blog
{% endblock %}

{% block content %}
<h1>new post</h1>
{% if error %}
<span class="error">{{error}}</span>
{% endif %}
<form method="post">
    <label>
        <div>title</div>
        <input type="text" name="title" {% if title %}value="{{title}}" {% endif %}>
    </label>
    <label>
        <div>post</div>
        <textarea name="body">{% if body %}{{body}}{% endif %}</textarea>
    </label>
    <div class="error"></div>
    <button id="reset-btn" type="reset">Reset</button>
    <button id="submit-btn" type="submit">Submit</button>
</form>
<div>
    <a href="/blog"><button id="cancel-btn">Cancel</button></a>
</div>
{% endblock %}